@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
head{
  max-width: 100%;
}
/*NAV*/
.navbar{
  background-color: #990099;
}
.navbar #navbarNav {
display: flex;
padding-right: 80px;

}

.navbar  img{
  padding-left: 100px;
  scale: 10px;
}
.navbar .nav-item :hover{
  color:  #fff !important;
  box-shadow: 0 4px 16px #f800f8;
  transition: all 0.2s ease;
  border-bottom: none;
  scale: 3px;
}


.navbar #navbarNav a{
  color: beige;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar #navbarNav li a{
display: table;
font-size: 14px;
font-family: monospace;
 
}
.navbar .collapse{
  justify-content: flex-end;
}

/*header*/
header{
  background: url(../img/foto/1.jpg);
display: inline-flex;
text-align: center;
justify-content: stretch;
background-size: auto;
background-repeat: no-repeat;
margin-right: 0px;
width: 100%;


}

header .container{
  justify-content: center;
}

#Portafolio{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
#imagen{
    padding-left: 130px;
    margin-bottom: 70px;
    display: inline-block;
    padding-right: 120px;
    justify-content: flex-start;
    margin-top: 50px;
}
#imagen img{
    border-radius: 200px;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
}
#texto{
    background-color: #990099;
    margin-top: 120px;
    opacity: 50%;
    margin-right: 70px;
    display: inline-block;
    margin-bottom: 50px;
}
#texto p{
    color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    font-size-adjust: inherit;
    font-family: monospace;
    
}

.row{
  
  padding-top: 20px;
  
}

/*habilidades*/
#habilidades{
  padding-bottom: 1.0rem;
  display: inline-block;
  padding-top: 0px;
  padding-left: 50px;
  
}

#habilidades h2{
  color: #990099;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
   animation-delay: 3s;
    

  
}
#habilidades .row #after img{
  animation-delay: 4s;
}
/*CERTIFICADOS*/
#cer h2{
  margin-left: 200px;
  animation-delay: 3s;
}
#certificados{
 font-family: monospace;
  
}
.modal {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  display: inline-flexbox;
}

.modal-content{
  max-width: max-content;
 width: max-content;
 padding-right: 0.1rem;
 padding-left: 0.1rem;
 padding-top: 0.1rem;
 
}



#certificados button{
background-color: #cc66cc;
text-align: center;
height: 60px;
margin-bottom: 30px;
margin-left: 280px;
margin-right: 50px;
position: center;
font-family: monospace;
font-size: 15px;
}
button:hover{
  color: #990099!important;
  box-shadow: 0 4px 16px #660066;
  transition: all 0.2s ease;
  border-bottom: none;
}

#certificados1 button{
  background-color: #cc66cc;
text-align: center;
height: 60px;
margin-bottom: 30px;
margin-left: 240px;
position: center;
font-family: monospace;
font-size: 15px;
}
#certificados2 button{
  background-color: #cc66cc;
text-align: center;
height: 60px;
margin-bottom: 30px;
margin-left: 240px;
position: center;
font-family: monospace;
font-size: 15px;
}
#certificados3 button{
  background-color: #cc66cc;
text-align: center;
height: 60px;
margin-bottom: 30px;
margin-left: 200px;
position: center;
padding-left: 20px;
padding-right: 20px;
font-family: monospace;
font-size: 15px;
}

#portafolio{
  background: url(../img/fondoportafolio.jpg);
width: 100%;
height: 900px;
text-align: center;
line-height: 0px;
display: flexbox;}
#portafolio h3{
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  color:#cc66cc;
  padding-top: 20px;
}
#portafolio h6{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color:#ffff;
  padding-top: 20px;
}
#portafolio .carousel img{
width: 400px;
height: 300px;
}


#contacto{
  background: url(../img/contacto.jpg);
  width: 100%;
  height: 700px;
  text-align: center;
  line-height: 0px;
  display: flexbox;
}
#contacto h2{
  font-family: 'Anton', sans-serif;
  color:#cc66cc;
padding-top: 50PX;
 margin-bottom: 50px;
  font-size: 45px;
}
#contacto .row{
  text-align: center;

  background-color:#660066;
  margin-left: 250PX;
  margin-right: 250PX;
  padding-left: 150px;
  margin-top: 50px;
}
#contacto .row .form-control{
  padding-left: 0px;
  padding-right: 0px;
  width: 450px;
  text-align: center;
  font-family: monospace;
}
footer{
	width: 100%;
	background-color: #660066;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
  display: inline-block;
  font-family: monospace;
}
.btn-primary {
  color: #fff;
  background-color: #990099;
  border-color: #990099;
} 
/*responsive tablet*/

@media screen and (max-width:768px) and (min-width:501px){
  header{
    width: 800px;
    height: 1000px
  }
  .navbar{
    width: 800px;
  }
  .navbar img{
    width: 400px;
    margin-right: 200px;
    margin-left: 150px;
  }
.navbar #navbarNav{
  display: none;
}
.navbar-toggler-icon{
  display: none;
}
#texto{
  bottom: -302px;
  right: 100px;
  margin-top: 0px;
  width: 500px;
  margin-left: 60px;
  margin-bottom: 50px;
}
#imagen {
  margin-top: 0px;
  margin-bottom: 0px;
}
#imagen img{
  padding-left: 0px;
  margin-left: 9px;
  padding-right: 10px;
  
  
}
.container{
  height: 1240px; 
}
.habilidades{
  height: 1140px;

}
#cer{
 
  bottom: -640px;
  right: 150px;
  margin-top: 75px;
  width: 630px;
  size: 100px;
  left: 50px;
}
#portafolio{
  width:800px ;
  height: 2500px;
    padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}
.carousel-item{
  width: 100%;
}

#contacto{
  width:800px ;
  height: 700px;

}
.form-group{
  width:400px ;
  height: 30px;
  padding-right: 350px;
  padding-left: 20px;

}
#contacto .btn{
  margin-top: 150px;
  margin-left: 150px;
}
#contacto .row{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  height: 450px;
}
footer{
  width: 800px;
}
}
/*responsive celular*/

@media screen and (max-width:500px) and (min-width:320px){
  header{
    width: 700px;
    height: 1000px
  }
  .navbar{
    width: 700px;
  }
  .navbar img{
    width: 300px;
    margin-right: 200px;
    margin-left: 100px;
  }
.navbar #navbarNav{
  display: none;
}
.navbar-toggler-icon{
  display: none;
}
#texto{
  bottom: -302px;
  right: 100px;
  margin-top: 0px;
  width: 500px;
  margin-left: 60px;
  margin-bottom: 50px;
}
#imagen {
  margin-top: 0px;
  margin-bottom: 0px;
}
#imagen img{
  padding-left: 10px;
  margin-left: 9px;
  padding-right: 10px;
  
  
}
.container{
  height: 1240px; 
}
.habilidades{
  height: 1140px;

}
#cer{
 
  bottom: -640px;
  right: 150px;
  margin-top: 75px;
  width: 530px;
  size: 100px;
  left: 50px;
}
#portafolio{
  width:700px ;
  height: 2500px;
    padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}
#contacto{
  width:700px ;
  height: 700px;

}
.form-group{
  width:400px ;
  height: 30px;
  padding-right: 250px;
  padding-left: 50px;

}
.form-horizontal{
  width: 100%;
}

#contacto .btn{
  margin-top: 150px;
  margin-left: 150px;
}
#contacto .row{
  margin-right: 30px;
  height: 450px;
  margin-left: 40px;
  padding-left: 50px;
}
#contacto .row .form-control{
  padding-left: 0px;
  padding-right: 0px;
  width: 350px;
  text-align: center;
  font-family: monospace;
}
footer{
  width: 700px;
}
}
